.config/i3/bumblebee-status
.config/i3blocks/scripts
.config/colorscheme/active-colors
*.log
.config/awesome/awesome-wm-widgets
.config/awesome/lain
quotes.txt
*/tmux/plugins/*
.config/nvim/lazy-lock.json
